<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shopping List</title>

  <!-- Vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
  <!-- VueFire -->
  <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>

  <script defer src="script.js"></script>
</head>

<body>
  <div id="app">
    <h1>OLA Helping Hands Shopping List</h1>
    <input type="number" min=1 max=10 v-model="shoppinglist.clients">

    <div class="category" v-for="category in categories">
      <h3>{{ category['name'] }}
        <small>{{ category['limitPerPerson'] }} per client</small>
      </h3>
      <ul class="food-items">
        <li v-for="i in parseInt(category['limitPerPerson']) * shoppinglist.clients">
          <input type="text" :placeholder="category['name'] + ' item #' + i">
        </li>
      </ul>
    </div>
    <form id=" form " v-on:submit.prevent="addCategory ">
      <input type="text " v-model="newCategory.name " placeholder="Food category name ">
      <input type="number " v-model="newCategory.limitPerPerson " min=0 max=5 placeholder="Limit per person ">
      <input type="submit " value="Add Food Category ">
    </form>
  </div>

  </div>
</body>

</html>