.hero.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

.category-title {
  margin-top: 5px;
  margin-bottom: 5px !important;
}

section.info {
  margin-top: 7.4em;
}

section.list {
  padding-top: 20px;
}

.food-items li {
  list-style-type: none;
}
